<div class="container-fluid" style="background-image: url('../../../assets/res.jpg');">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div class="information">
      <h2>Contact Info</h2>
      <ul class="nav nav-pills nav-stacked">
        <div class="item">
          <img src='assets/coffee.png'>
          <img src='assets/glass.png'>
          <img src='assets/meat.png'>
        </div>
        <li> <a>555 Love street Torento</a></li>
        <li><a >(123) 465-6789</a></li>
        <li><a >masouderfani1498@gmail.com</a></li>
      </ul><br>
      <h4> Booking a table online is easy and takes just a couple of minutes</h4> <br>

       <p> We require credit card details for dinner reservations on Friday & Saturday and to guarantee parties of four guests and above.

        If you need to cancel your booking, please kindly inform us no later than 48 hours prior to your reserved time. A cancellation fee of £50 per person will apply after this time.

        Shall your party size decrease, please let us know 24 hours in advance, regrettably if we are not aware of a decrease within 24 hours of your booking, we will charge for the known fee.

        Please do let us know if there is anything else we can do to assist in making your meal more enjoyable.

        We look forward to welcoming you at Angler.</p>
    </div>
    </div>

    <div class="col-sm-5" >
      <div class="form">
      <h2>reservation form</h2>
      <form action="/action_page.php">
        <div class="form-group">
          <label for="customerid">CustomerID</label>
          <input type="number" class="form-control" id="customerid">
        </div>
        <div class="form-group">
          <label for="time">Time:</label>
          <input type="time" class="form-control" id="time">
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="partysize">Party Size:</label>
          <input type="number" class="form-control" id="partysize">
        </div>
        <button *ngIf="checkresult" type="button" class="btn btn-default" style="width: 150px;" (click)="book()">Book now</button>
        <button type="button" class="btn btn-default" style="width: 150px;" (click)="checkavailability()">Check Availability</button>
      </form>
      <h3 *ngIf="checkresult" > you can book this table it is avialable! </h3>
      <h3  *ngIf="checkresult==false"> it can not be booked! </h3>
      <h3 *ngIf="reservidtoshow"> your reservation id is {{ reserid }}</h3>
      </div>
            </div>
    <div class="col-sm-4 sidenav">
      <div class="getid">
      <div style="margin-top: 150px">

        <div class="item" >
          <img src='../../../assets/forget.png'>
          <img src='../../../assets/key.png'>
        </div>
        <h3> If you forgot your customer id get it from here!</h3>
      </div>
      <div class="form-group" style="width: 50%">
        <label for="phonenumber">Phonenumber:</label>
        <input type="number" class="form-control" id="phonenumber">
      </div>
      <button type="button" type="button" class="btn btn-primary" (click)="getID()" style="width: 150px;"> GetId</button>
        <h3 *ngIf="customercheck"> your reservation id is {{ customernum }}</h3>
      </div>
    </div>
          </div>
        </div>

