/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 700px}

/* Set gray background color and 100% height */
.sidenav {
  /*background-color: #f1f1f1; */
  height: 100%;

}
.form{
  background-color: rgba(255,255,255,0.8);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

}
.information{
  background-color: rgba(255,255,255,0.8);

  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
.col-sm-5{

}
.getid{
  background-color: rgba(255,255,255,0.8);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
