
<div class="container-fluid text-center" style="background-image: url('../../../assets/home.jpg');" >
  <div class="row content">
    <div class="welcome">
    <div class="col-sm-10 text-left">
      <div class="welcome">
      <h1>Welcome to our resturant reservation APP</h1>
      <p>A simple resturant reservation system</p>
      <p> Go to resturant tap to see list of resturants that are available</p>
      <p> you can reserve for available resturants through reservation panel</p>
      <hr>
      </div>
      <div class="enjoy">
      <h3>Test and enjoy</h3>
      <div class="container">
        <div id="container"></div>
        <div id="images">
          <div class="item">
            <img src='assets/res1.jpg' class="col-md-4">
            <img src='assets/res2.jpg' class="col-md-4">
            <img src='assets/res3.jpg' class="col-md-4">
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="ads">
      <div class="event well" style="margin-bottom: 5px">
        <p>Events</p>
      </div>
      <div class="well">
        <img src='assets/ads.jpg'>
        <p> 50% off for christmas</p>
      </div>
      </div>
    </div>

  </div>
</div>
